.card__body {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card__table {
  display: grid;
  grid-template-columns: 3;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 7px -7px rgb(0 0 0 / 75%);
}

.card__table .span-3 {
  grid-column: 1 / span 3;
  text-align: center;
  border: 3px solid whitesmoke;
  height: 60px;
}
.card__button {
  float: right;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px;
  width: 8rem;
  background-color: #00bb99;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
/* 616D8B */
